.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;
}

.headerOptions {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    gap: 24px;
    color: var(--fg);
}

.headerOptions button {
    cursor: pointer;
    transition: all ease 0.3s;
    color: var(--fg);
}

.headerOptions button:hover {
    color: var(--accent);
}

.siteIcon img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}