.container {
	position: relative;
}

.showButton {
	cursor: pointer;
	color: var(--fg);
}

.showButton:hover {
	color: var(--accent);
}

.leaderboard {
	position: absolute;
	top: 30px;
	left: -100%;
	width: 300%;
	height: 360px;

	background-color: var(--bg-alt);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	color: var(--fg);
	z-index: 10;
	overflow-y: auto;
	padding: 20px 10px;
}

.shown {
	opacity: 1;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.leaderboardHeader {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 20px;
	font-weight: 600;
}

.player {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	margin-bottom: 12px;
}

.player p,
.leaderboardHeader p {
	text-align: center;
}

.loadingIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1440px) {
	.leaderboard {
        left: unset;
		right: 0;
	}
}
